{% load staticfiles %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EviaCatalog - Επαγγελματικός οδηγός Εύβοιας</title>
    <meta name="author" content="ditsikts">
    <link rel="shortcut icon" href="{% static 'profs/images/favicon/favicon.png' %}"/>
    <script src="{% static 'profs/js/jquery-2.2.4.min.js' %}"></script>
    <link href="{% static 'profs/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">
    <script src="{% static 'profs/js/bootstrap.min.js' %}"></script>
    {% block extHead %}
    {% endblock %}
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'profs:index' %}">Evia Catalog Beta</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'profs:index' %}">Home</a></li>
                        <li><a href="{% url 'profs:contact' %}">Μπείτε στο κατάλογο μας</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if  request.user.username == "" %}
                        <li class="dropdown">
                            <a href="#loginPopup" class="dropdown-toggle" data-toggle="dropdown">Είσοδος</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li>
                                <form method="post" action="{% url 'profs:check_login' %}" style="padding:20px">
                                    {% csrf_token %}
                                    <div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                                        </div>
                                        <input type="submit" class="btn btn-default" data-inline="true" value="Log in">
                                    </div>
                                </form>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        
                        <li class="dropdown">
                            <a href="#loginPopup" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.username }}</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li>
                                    {% for value in user_urls %}
                                        <a class="navbar-brand" href="{% url 'profs:edit_news' value.url_name %}">{{ value.url_name }}</a>
                                    {% endfor %}
                                    <a class="navbar-brand" href="{% url 'profs:logout_view' %}">Logout</a>
                                </li>
                            </ul>
                        </li>
                        
                        {% endif %}
                    </ul>
                </div>
            </nav>
            </div>
        </div>
    </div>
    
    
    {% block content %}
    {% endblock %}
</body>
</html>
