{% extends 'profs/base.html' %}

{% block content %}
<div class="section">
    <div class="container">
<div class="row">
<p>Στείλτε στο ditsikts@outlook.com τα εξής:
    <ul>
        <li>επωνυμία επιχείρησης ή/και ονοματεπώνυμο</li>
        <li>τηλεφωνο/α</li>
        <li>2 φωτογραφιες</li>
        <li>διευθηνση</li>
        <li>email</li>
        <li>facebook λογαριασμο</li>
        <li>πληροφοριες για την επιχειρηση σας</li>
    </ul>
</p>
<p>Δεν είναι υποχρεωτικό να στείλετε όλα τα παραπάνω!</p>
</div>
</div>
</div>
{% endblock %}