{% extends 'profs/base.html' %}

{% block extHead %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'profs/js/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
<div class="row">
<p>
        <form role="form" method="POST" action="{% url 'profs:edit_news' prof.url_name %}">
            {% csrf_token %}
            <input type="text" class="form-control" name="url_name" id="url_name" value="{{ prof.url_name }}" readonly>
            <textarea name="editor1" id="editor1" >
                {{ prof.update_news }}
            </textarea>
            <script type="text/javascript">
                CKEDITOR.replace( 'editor1' );
            </script>
            <input type="submit" value="Ανανέωση" class="btn btn-default" />
        </form>
</p>
</div>
</div>
</div>
{% endblock %}