{% extends 'profs/base.html' %}

{% block extHead %}
<style>
    .stylish-panel {
    padding: 20px 0px;
    }
    .stylish-panel > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
    }
    .stylish-panel > div:hover > div{
    margin-top: -10px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    transition: 0.5s;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <form class="form-inline" role="form" method="POST">
            {% csrf_token %}
            <div class="form-group col-md-offset-1">
                <input type="text" class="form-control" id="searchString" placeholder="Αναζήτηση">
            </div>
            <div class="form-group">
                <div class="selectContainer">
                    <select class="form-control" name="category" >
                        <option value="">Ψάχνεις για...</option>
                        {% for value in cat_list %}
                            <option value="{{value}}"{% if category == value %} selected="selected" {% endif %}>{{value}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="selectContainer">
                    <select class="form-control" name="city">
                        <option value="">στην περιοχή...</option>
                        {% for value in city_list %}
                        <option value="{{value}}" {% if city == value %} selected="selected" {% endif %}>{{value}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Αναζήτηση" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<br>
{% if ret_list != None %}
    <div class="container">
        <div class="row stylish-panel">
        {% for pr in ret_list %}

            <div class="col-md-3" >
                <div >
                    <a href="{% url 'profs:show' pr.url_name %}" style="text-decoration:none;color:inherit;" >
                        {% if pr.updated_recently %}
                            <h5 style="float:right;background-color:lightgreen;border-radius:10px;padding:5px;">Updated</h5>
                        {% endif %}
                        <h4 class="text-primary">{{pr.brand_name}}</h4>
                        <p><span class="glyphicon glyphicon-phone-alt"></span> {{pr.telephone}}</p>
                        <p><span class="glyphicon glyphicon-envelope"></span> {{pr.email}}</p>
                        <p><span class="glyphicon glyphicon-road"></span> {{pr.address}}</p>
                        <p><span class="glyphicon glyphicon-home"></span> {{pr.post_code}}, {{pr.city}}</p>
                    </a>
                </div>

            </div>
        {% endfor %}
        </div>
    </div>
{% else %}
    <p>Wellcome</p>
{% endif %}
{% endblock %}
