{% extends 'profs/base.html' %}

{% block extHead %}
<style>
    .stylish-info {
        padding: 20px;
        border: 1px solid rgb(200, 200, 200);
        background: rgba(200, 200, 200, 0.1);
    }
</style>

<script type="text/javascript">
    function showMailForm(id) {
        document.getElementById(id).style.display = "block";
        document.getElementById('showhide').style.visibility = "collapse";
        document.getElementById(id).scrollIntoView();
        document.getElementById('colorHelper').style.backgroundColor = "lightblue";
    }
    function hideMailForm(id) {
        document.getElementById(id).style.display = "none";
        document.getElementById('showhide').style.visibility = "visible";
        document.getElementById('colorHelper').style.backgroundColor = "white";
    }
    function validateForm() {
        var x = document.forms["contactForm"]["InputName"].value;
        var emailCheck = document.forms["contactForm"]["InputEmail"].value;
        var x3 = document.forms["contactForm"]["InputMessage"].value;
        var atpos = emailCheck.indexOf("@");
        var dotpos = emailCheck.lastIndexOf(".");
        if (atpos<1 || dotpos<atpos+2 || dotpos+2>=emailCheck.length) {
            alert("Δώστε σωστό email");
            return false;
        }
        if (x == null || x == "" || x3 == null || x3 == "") {
            alert("Συμπληρώστε όλα τα πεδία!");
            return false;
        }
    }
</script>
{% if prof.latitude != "" %}
    <script type="text/javascript">
        function initMap() {
            var myLatLng = { lat: {{prof.latitude}}, lng: {{prof.longitude}} };
            var map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 16
            });
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl7DqrlT-ybjPNt6dcTZgjRgywxYiC81Q&callback=initMap">
    </script>
{% endif %}
{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="section">
    <div class="container">
        <h2>{{prof.brand_name}} - {{prof.category}}</h2>
    </div>
</div>
<div class="section">
    <div class="container">
<div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{% static 'profs/images/'  %}{{prof.url_name}}1.jpg" alt="1st picture" class="img-responsive" width="1200"  />
            </div>
            <div class="item">
                <img src="{% static 'profs/images/'  %}{{prof.url_name}}2.jpg" alt="2nd picture" class="img-responsive" width="1200"  />
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
</div>
</div>
<div class="section" style="padding:20px">
    <div class="container">
        <div class="row stylish-info">
            <div class="col-md-4">
                <p><span class="glyphicon glyphicon-road"></span> {{prof.address}}</p>
                <p><span class="glyphicon glyphicon-home"></span> {{prof.post_code}} {{prof.city}}</p>
                <p><span class="glyphicon glyphicon-phone-alt"></span> {{prof.telephone}}</p>
                <p><span class="glyphicon glyphicon-envelope"></span> {{prof.email}}</p>
                <p>
                <ul>
                    {% if prof.subscription != "free" %}
                    <li style="display:inline"><input type="button" id="showhide" value="Στήλε μου email" class="btn btn-default" onclick="showMailForm('sendMail');"></input>
                    </li>
                    {% endif %}
                    {% if prof.facebook != "" %}
                    <li style="display:inline"><a href="{{prof.facebook}}"><img src="{% static 'profs/images/' %}FB-f-Logo__blue_29.png" alt="Facebook" border="0"></a>
                    </li>
                    {% endif %}
                </ul>
                </p>             
            </div>
            
            {% if prof.latitude != "" %}
                    <div id="map" class="pull-right col-md-4"style="width:500px;height:380px;"></div>
            {% endif %}

        </div>
    </div>
</div>
{% if prof.subscription != "free" %}
<div class="section">
    <div class="container">
        <div class="informations">
            <div class="row stylish-info">
                {{ prof.update_news|safe }}
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="section">
    <div class="container">
        <div class="informations">
            <div class="row stylish-info">
                {{ prof.informations|safe }}
            </div>
        </div>
    </div>
</div>
{% if prof.subscription != "free" %}
<div class="section" style="padding:20px">
    <div class="container">
        <div class="row" id="colorHelper" >
            
            <div id="sendMail" style="display:none;">
                <form role="form" name="contactForm" method="post" onsubmit="return validateForm()" >
                    {% csrf_token %}
                    <div class="col-lg-6">
                    <div class="form-group">
                        <label for="InputName">Your Name</label>
                        <div class="input-group">
                        <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Your Email</label>
                        <div class="input-group">
                        <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputMessage">Message</label>
                        <div class="input-group">
                        <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" ></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputReal">What is 4+3? (Simple Spam Checker)</label>
                        <div class="input-group">
                        <input type="text" class="form-control" name="InputReal" id="InputReal" />
                        </div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Αποστολή" class="btn btn-info pull-right">
                    <input type="button" name="cancel" id="cancel" value="Ακύρωση" class="btn btn-warning" onclick="hideMailForm('sendMail');">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}